.CharacterPage {
  .container-header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;

    .header {
      align-items: center;
      display: flex;
      gap: 48px;
      max-width: 960px;

      .title {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        text-transform: uppercase;

        h1 {
          font-weight: bold;
          font-size: 40px;
        }
      }
    }
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .title {
      margin-bottom: 20px;
      width: 960px;
    }

    .comics {
      display: flex;
      gap: 20px;
      overflow-x: scroll;
      width: 960px;

      .comic {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .comicTitle {
          font-weight: bold;
        }

        .year {
          font-size: 12px;
        }
      }
    }
  }

  .description {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  @media (max-width: 960px) {
    .container-header {
      .header {
        max-width: 100%;
        padding: 0 20px;

        > img {
          height: 200px;
          width: 200px;
        }
      }
    }

    section {
      margin-top: 20px;

      .comics {
        width: 100%;

        .comicTitle {
          font-size: 12px;
        }

        img {
          height: 135px;
          width: 90px;
        }
      }

      .title {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .container-header {
      .header {
        gap: 24px;

        .title {
          gap: 10px;

          h1 {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 360px) {
    .container-header {
      .header {
        display: flex;
        gap: 24px;
        flex-direction: column;
        padding: 0 10px 10px;

        .title {
          gap: 10px;

          h1 {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
