.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 16px 48px;
}

.favorites {
  align-items: center;
  display: flex;
}

.favoritesCount {
  color: #fff;
  margin-left: 10px;
}

.searchBar {
  margin-bottom: 20px;
}

.characterGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
}
