.CharacterCard {
  background-color: #000;
  clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 96% 100%, 0% 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;

  .description {
    align-items: center;
    border-top: 5px solid #f00;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  a {
    display: flex;
    justify-content: center;
  }
}
