.CharacterCard {
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 96% 100%, 0% 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;

  .description {
    align-items: center;
    border-top: 5px solid #f00;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    img {
      cursor: pointer;
    }
  }
}
