.HeaderComponent {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  top: 0;
  z-index: 100;

  .favorites {
    align-items: center;
    display: flex;

    .favoritesCount {
      color: #fff;
      margin-left: 10px;
    }
  }

  @media (max-width: 360px) {
    position: sticky;
  }
}
